.clear{
  clear: both;
}

.jbrowser{
  width: 700px;
}

.jbrowser .jtabs div{
  border: 1px #ddd solid;
  cursor: pointer;
  float: left;
  padding: 2px 4px;
  position: relative;
  top: 1px;
}

.jbrowser .jtabs div.jactive{
  padding: 4px;
  margin-top: -4px;
}

.jbrowser #loader{
  margin: 10px;
}

.jbrowser #jcontent{
  border: 1px #ddd solid;
  height: 220px;
}
.jbrowser .jfiles{
  float: left;
  height: 200px;
  width: 455px;
  overflow-y: scroll;
  padding: 10px;
}
.jbrowser .jfiles .jfile{
  border: 1px #ddd solid;
  cursor: pointer;
  float: left;
  margin: 5px 5px 0 0;
  padding: 5px;
  text-align: center;
  width: 90px;
}

.jbrowser #jpreview{
  float: right;
  font-size: 11px;
  height: 200px;
  width: 200px;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.jbrowser #jpreview #jimage{
  border: 1px #ddd solid;
  height: 150px;
  margin: auto;
  overflow: hidden;
  width: 150px;
}
.jbrowser #jpreview #jdelete{
  cursor: pointer;
  float: right;
}

/* UPLOAD TAB */
.jupload{
  padding: 10px;
  text-align: center;
}

.jupload #jupload_wrapper, .jupload .jfile_status{
  margin-top: 20px;
}