
/* Defaults */
body{background-color: #fff; color: #636363; font-family: Verdana; font-size: 14px; margin: 10px 20px;}
h1{color: #DDDDDD;}
a{color: #3b3b3b; text-decoration: none;}
a:hover{ text-decoration: underline; }
a.active{ font-weight: bold; }
table, table th, table td{ empty-cells: show; border-collapse: collapse; border-spacing: 0; }
img{ vertical-align: middle; }
a img{ border: none; }


/* Tables */
table.info th{
  background-color: #f6f6f6;
  border: 1px #fff solid;
}
table.info th:first-child{
  -moz-border-radius: 10px 0 0 10px; -webkit-border-radius: 10px 0 0 10px; border-radius: 10px 0 0 10px;
}
table.info th:last-child{
  -moz-border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; border-radius: 0 10px 10px 0;
}
table.info .tr1 td{ 
  background-color: #eff5f8;
}
table.info td, table.info th{
  padding: 10px;
}


/* MENU */
.menu{ background-color: #f6f6f6; float: right; line-height: 42px; margin: 20px 0; padding: 6px 0 6px 20px; text-align: right; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.menu a{ color: #3b3b3b; margin-right: 25px; }
.menu a.active{ color: #45BDE9; }


/* Copyrights */
.copyright{ border-top: 1px #ebe8e8 solid; color: #ebe8e8; font-size: 12px; margin-top: 50px; padding-top: 2px; text-align: right; }
.copyright a{ color: #ebe8e8; text-decoration: underline; }

/* Floats */
.clear{clear: both; font-size: 0px; height: 0px; line-height: 0px; }


.nojs{ font-size: 14px; font-weight: bold; text-align: center; }
.aslink{ cursor: pointer; color: #3b3b3b; }
.hover{cursor: pointer;}


/* Messages */
#msg{ font-size: 14px; font-weight: bold; margin: 10px 0; text-align: center; }
.msg_failed{ color: #FF0000;  }
.msg_ok{ color: #a5d11e; }
