
body
{
    margin: 0;

    font-family: "Lucida Grande", Verdana;
    font-size: 12px;
    color: #2970A6;
}

h1
{
    text-align: center;
    color: #555555;
}

a
{
    color: #99CC33;
    text-decoration: none;
    outline: none;
}

a img
{
    border: none;
}

a.active
{
    font-weight: bold;
}


.content
{
    padding: 20px;
}