
body{
  color: #424242;
  font-family: "Lucida Grande", Verdana;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h1{
  color: #555555;
  text-align: center;
}

a{
  color: #99CC33;
  outline: none;
  text-decoration: none;
}

a img{
  border: none;
}

a.active{
  font-weight: bold;
}


.content{
  padding: 20px;
}
