
body{
  color: #424242;
  font-family: "Lucida Grande", Verdana;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h1{
  color: #555555;
}

a{
  color: #99CC33;
  outline: none;
  text-decoration: none;
}

a img{
  border: none;
}

a.active{
  font-weight: bold;
}


.content{
  padding: 5px 20px;
}


h2{
  border-bottom: 1px #777 dashed;
}

div.description{
  display: none;
}

.section{
  display: block;
  border-bottom: 1px #ffcc21 solid;
  margin: 10px 0 5px;
}
