
.hover{cursor: pointer;}

.translation_table
{
    width: 1000px;

    empty-cells: show; 
    border-collapse: collapse; 
    border-color: #DDDDDD;
}
.translation_table td, .translation_table td .edit{height: 18px; overflow: hidden;}


.password{text-align: center; padding-top: 100px;}
.password *{vertical-align: middle;}


.item-delete
{
    width: 18px;
    background: url('images/delete.png') center center no-repeat;
}



.add-language{
  padding: 20px 0;
  text-align: center;
}
.aslink{
  cursor: pointer;
  text-decoration: underline;
}

.save_cancel{
  padding: 10px 0;
  text-align: center;
}


.edit-absolute{
  background: #000;
  left: 0;
  position: absolute;
  top: 0;
}
.edit-absolute-inner{
  background-color: #FFF;
  border: 4px #DDD solid;
  position: absolute;
}
.edit-absolute textarea{
  height: 350px;
  width: 800px;
}