<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StaticPHP Framework</title>

    <link href="{{ base_url }}assets/dist/css/index.css?{{ asset_version }}" rel="stylesheet" type="text/css" />

    {% block headers %}{% endblock %}
</head>

<body>

    <!-- Fixed navbar -->
    <div class="header">
        {% if menu_main is defined and menu_main %}
        {{ DisplayMenu(menu_main) }}
        {% endif %}
    </div>

    <div class="container">
        {% block content %}{% endblock%}
    </div>

    {% if config.debug == true %}
        <script type="text/javascript" src="{{ base_url }}assets/dist/js/vendors.bundle.js?{{ asset_version }}"></script>

        {% if js_include %}
        <script type="text/javascript"
            src="{{ base_url }}assets/dist/js/{{ js_include }}.bundle.js?{{ asset_version }}"></script>
        {% endif %}
    {% else %}
        <script src="{{ base_url }}assets/dist/js/vendors.min.js?{{ asset_version }}"></script>

        {% if js_include %}
        <script src="{{ base_url }}assets/dist/js/{{ js_include }}.min.js?{{ asset_version }}"></script>
        {% endif %}
    {% endif %}

    {% block scripts %}{% endblock%}

    {% block footer %}
        <footer class="page-footer">© StaticPHP 2022</footer>
    {% endblock%}

    {% if config.debug %}
        <pre class="footer-debug" style="margin: 0;"><strong>DEBUG</strong><br />{{ debugOutput()|raw }}</pre>
    {% endif %}
</body>

</html>
