<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ http_status_code }} {{ http_status_message ? http_status_message : 'Internal Server Error' }}</title>

        <link href="/assets/index.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="error-page {{ error_class }}">
        <div class="container">
            <h1 class="text-center">{{ http_status_message ? http_status_message : 'Internal Server Error'}}</h1>
            <p id="message"><strong>{{ code ? code }} {{ message|raw }}</strong></p>
            <p id="description" class="text-center">{{ description|raw }}</p>
            <pre>{{ stack_trace }}</pre>
        </div>
        <script>
                var description = document.getElementById('description');
                if (description.innerHTML.indexOf('\{\{') != -1)
                {
                    description.innerHTML = '';
                }
        </script>
    </body>
</html>
