<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>StaticPHP Framework</title>

        <link href="{{ base_url }}assets/index.css?{{ css_version }}" rel="stylesheet" type="text/css" />

        {% block headers %}{% endblock %}
    </head>
    <body>

        <!-- Fixed navbar -->
        <div class="header">
            <div class="navbar navbar-expand-lg navbr-light bg-light">
                <div class="container">
                    <a href="{{ base_url }}" class="navbar-brand">StaticPHP</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#headerMenuCollapse">
                        <span class="fas fa-bars"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="headerMenuCollapse">
                        <ul class="navbar-nav ml-auto">
                            {% if config.debug == true %}
                            <li class="nav-item">
                                <a class="nav-link{{ method == 'example' ? ' active' }}" href="{{ base_url }}defaults/welcome/example">Example</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{{ method == 'testMe' ? ' active' }}" href="{{ base_url }}defaults/test/test">Test Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{{ method == 'testMe' ? ' active' }}" href="{{ base_url }}defaults/test/test/json">jSON Test Page</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock%}
        </div>

        {% if config.debug == true %}
        <script src="{{ base_url }}assets/index.bundle.js?{{ js_version }}"></script>
        {% else %}
        <script src="{{ base_url }}assets/index.min.js?{{ js_version }}"></script>
        {% endif %}

        {% block scripts %}{% endblock%}

        {% block footer %}
        <footer class="page-footer">StaticPHP 2019</footer>
        {% endblock%}

        {% if config.debug %}
        <pre class="footer-debug" style="margin: 0;"><strong>DEBUG</strong><br />{{ debugOutput()|raw }}</pre>
        {% endif %}
    </body>
</html>