
body{font-family: Verdana; font-size: 12px; margin: 10px 20px;}
h1{color: #DDDDDD;}
a{color: #45BDE9; text-decoration: none;}

.welcome{text-align: center; font-size: 16px; padding: 50px 0;}


.copyright{text-align: right; color: #AAA; border-top: 2px #EEEEEE solid; margin-top: 50px;}
.copyright a{color: #AAA; text-decoration: none;}